﻿@model WebProje.Models.Doktor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doktor_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doktor_Soyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor_Soyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doktor_DogumTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor_DogumTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doktor_Bilgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor_Bilgi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doktor_Resim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor_Resim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Doktor_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
