﻿@model IEnumerable<WebProje.Models.Doktor>


<div class="container body-content">
    @{
    ViewBag.Title = "Index";
}
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">@Html.DisplayNameFor(model => model.Doktor_Adi)</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">@Html.DisplayNameFor(model => model.Doktor_Soyadi)</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-datetime-local-input" class="col-xs-2 col-form-label">@Html.DisplayNameFor(model => model.Doktor_DogumTarih)</label>
        <div class="col-xs-10">
            <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
        </div>
        <div class="form-group">
            <label for="exampleTextarea">@Html.DisplayNameFor(model => model.Doktor_Bilgi)</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        
       
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doktor_Adi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doktor_Soyadi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doktor_DogumTarih)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doktor_Bilgi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doktor_Resim)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Doktor_ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Doktor_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Doktor_ID })
                        </td>
                    </tr>
                }

           

    </div>
