﻿@model WebProje.Models.Randevu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Randevu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Randevu_Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Randevu_Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doktor.Doktor_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doktor.Doktor_Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Randevu_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
