﻿@model IEnumerable<WebProje.Models.Randevu>
<div class="container body-content ">
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Randevu_Tarih)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktor.Doktor_Adi)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Randevu_Tarih)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doktor.Doktor_Adi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Randevu_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Randevu_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Randevu_ID })
                </td>
            </tr>
        }

    </table>
</div>