﻿@using WebProje.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Özel Düzce Göz Hastenesi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  

</div>
   
    <div class="row, container body-content">

        <nav class="navbar navbar-default navbar-fixed-top container body-content">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Düzce Özel Göz Hastanesi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li>@Html.ActionLink("Randevu Al", "RandevuAl", "Home")</li>
                        <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                        @{
                                HastaneEntities1 baglanti = new HastaneEntities1();

                                if (Session["Uye"] == null)
                                {
                                <li>@Html.ActionLink("Giriş Yap", "GirisYap", "Home")</li>
                                }

                                else
                                {
                                    int id = Convert.ToInt32(Session["Uye"]);

                                    var uye = baglanti.Uye.Find(id);
                                <li><a href="~/Profilim">@uye.Uye_Adi</a></li>
                                }
                            }
                    </ul>
                </div>
            </div>
        </nav>

    </div>

    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer>
            <div class="container">
                <p>&copy; 2016 Developed by Abdullah Tayhan. All Rights Reserved.</p>
                <ul class="list-inline">
                    <li>
                        @Html.ActionLink("İletişim", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Hakkımızda", "About", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Randevu Al", "RandevuAl", "Home")
                    </li>
                </ul>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
