﻿@model WebProje.Models.Uye

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>Uye</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uye_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye_Sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye_Sifre)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Uye_ID })*@ 
    <a href="~/Home/Cikis">Çıkış Yap</a>
</p>
