﻿@model IEnumerable<WebProje.Models.Doktor>
<div class="container body-content"
@{
    ViewBag.Title = "Doktorlar Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Geri Dön", "Index", "Admin")


</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doktor_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doktor_Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doktor_DogumTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doktor_Bilgi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doktor_Resim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor_Soyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor_DogumTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor_Bilgi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doktor_Resim)
        </td>
    </tr>
}

</table>
    </div>