﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <h2>Admin Paneli</h2>
    @Html.ActionLink("Doktor Ekle", "DoktorEkle", "Admin") <br />
    @Html.ActionLink("Doktorları Goruntule", "DoktorlarGoruntule", "Admin") <br />
    @Html.ActionLink("Randevu Ekle", "RandevuEkle", "Admin")<br />

</div>


