﻿@{
    ViewBag.Title = "About";
}
<div class=" container body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>s