﻿@{
    ViewBag.Title = "İletişim";
}
<div class=" container body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div class=" col-md-4">
        <address>
            Aziziye, Eski İstanbul Cad. No:126, 
            81010 Düzce Merkez/Düzce, Türkiye
        </address>
                
    </div>
    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.43434695134!2d31.133956114966406!3d40.84038667931812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x409d75535f2305c7%3A0x5c860ceb15ed2246!2zw5Z6ZWwgRMO8emNlIEfDtnogTWVya2V6aQ!5e0!3m2!1str!2s!4v1482083633777" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
