﻿<div class=" container body-content ">
@{
    ViewBag.Title = "GirisYap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="~/Home/GirisYap" method="post">
    <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="KullaniciAdi" name="KullaniciAdi">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="Sifre" name="Sifre">
    </div>
    <button type="submit" class="btn btn-default">Giriş Yap</button> 
</form>
<a href="~/Home/KayitOl">Kayıt Ol</a>
</div>