﻿@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

               
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Images/1.jpg" alt="Joker">
                    </div>

                </div>

               
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="jumbotron text-center" style="height:250px; background-color: #f4511e;
    color: #ffffff;">
                <h1>Özel Düzce Göz Hastanesi</h1>
                <p>Düzce merkezinde kolay ulaşım, ileri teknoloji tedavi ve güler yüzlü hizmet ile sizlerleyiz</p>
            </div>
        </div>



    </div>
</div>