﻿<div class="container body-content ">
    @{
        ViewBag.Title = "KayitOl";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <form action="~/Home/KayitOl" method="post">
        <div class="form-group">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="KullaniciAdi" name="KullaniciAdi">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="Sifre" name="Sifre">
        </div>
        <button type="submit" class="btn btn-default">Kayit Ol</button>
    </form>
    <a href="~/Home/GirisYap">Giriş Yap</a>
</div>