﻿@using WebProje.Models;
<div class="container body-content ">
@{
    ViewBag.Title = "Randevu Al";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RandevuAl</h2>
<form action="~/Home/RandevuAl" method="post">
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Hasta Adı</label>
        <div class="col-xs-10">
            <input class="form-control" name="hastaadi" type="text" value="" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Hasta Soyadı</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" name="soyad" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Tc Kimlik No</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" name="tcno" id="example-text-input">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Doğum Tarihiniz</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="" name="dogumtarih" id="example-text-input">
        </div>
    </div>
    <div class="col-md-2">
        <label for="example-text-input" class="col-form-label">Doktor Adi</label>
    </div>
<div class="form-group col-md-10">
    <select class="form-control" id="DoktorSelect" name="Doktor">
        @foreach (Doktor doktorand in ViewBag.Doktorlar) {
            if(ViewBag.SecilenDoktor!=null&&(int)ViewBag.SecilenDoktor == doktorand.Doktor_ID)
            { 
               <option value="@doktorand.Doktor_ID" selected >@doktorand.Doktor_Adi @doktorand.Doktor_Soyadi</option>
            }
            else
            {
                <option value="@doktorand.Doktor_ID">@doktorand.Doktor_Adi @doktorand.Doktor_Soyadi</option>
            }
        }
    </select>
    <div class="col-md-2">
        <label for="example-text-input" class="col-form-label">Randevu Tarihi</label>
    </div>
    <div class="form-group col-md-10">
        <select class="form-control id="sel1" name="tarih">
            @foreach (Randevu randevu in ViewBag.Randevular)
            {
                <option value="@randevu.Randevu_Tarih" >@randevu.Randevu_Tarih</option>
            }
        </select>


    </div>
</div>

    <button type="submit" class="btn btn-default">Randevu AL</button>
</form>
</div>
@section scripts
{
   <script>

       $(document).ready(function () {
           $("#DoktorSelect").on('change', function () {
               var currentObject = $(this).val();
               @*$.get('@Url.Action("RandevuAl", "Home")', { DoktorID: currentObject });*@
               window.location = '@Url.Action("RandevuAl", "Home")' + '?DoktorID=' + encodeURIComponent(currentObject);
           });

       });

    </script>
    
}