﻿@model IEnumerable<WebProje.Models.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Uye_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uye_Sifre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Uye_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uye_Sifre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Uye_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Uye_ID }) |
            <a href="~/Home/Cikis">Çıkış Yap</a>
        </td>
    </tr>
}

</table>
